@use '../../../../styles/abstracts/variables' as *;
@use '../../../../styles//abstracts//mixins' as *;

.boardContainer {
  width: auto;
  height: auto;
  background-color: $color-white;
  border: 3px solid $color-black;
  border-radius: 2.5rem;
  padding: 1rem 1.5rem 4rem 1rem;
  box-shadow: $shadow-bottom;
}

.cellContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: .8rem;
}

.rowDiv {
  border: 2px solid $color-black;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  background-color: $color-bg;
  box-shadow: inset 0 5px 0 1px $color-black;
}

.disc {
  position: absolute;
  // top: calc((0 * 60px) + (0 *.8rem));
  animation: drowDown 300s ease-in;
  left: calc((1* 60px) + (1 * .8rem));
  height: 58px;
  width: 58px;
  background-color: $color-red;
  border: 2px solid $color-black;
  border-radius: 100%;
  box-shadow: inset 0 5px 0 1px $color-black;
}

@keyframes dropDown {
  from {
    top: 0px;
  }
  to {
    top: calc((6 * 60px) + (6 *.8rem));
  }
}