@use '../../../../styles/abstracts/variables' as *;
@use '../../../../styles/abstracts/mixins' as *;

.wrapper {
  height: 530px;
  display: flex;
  align-items: end;
  position: relative;
}

.boardContainer {
  position: relative;
  width: 500px;
  height: 480px;
  overflow: hidden;
}

.whiteLayer {
  position: absolute;
  z-index: 3;
  width: 500px;
  top: 0;
  left: 0;
}

.discContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.blackLayer {
  position: absolute;
  z-index: 1;
  width: 500px;
  height: 475px;
  top: 0px;
  left: 0;
}

.columnContainer {
  position: absolute;
  z-index: 20;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  height: 90%;
  padding: 0 .3rem;
}