$color-bg: #7945FF;
$color-yellow: #ffce67;
$color-red: #fd6687;
$color-white: #ffffff;
$color-black: #000000;

// Font sizes
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-2xl: 2rem;
$font-size-3xl: 3rem;

// Typography
$font-family-primary: 'Space Grotesk', sans-serif;

// Board Dimensions
$cell-gap: 12px;
$cell-gap-mobile: 8px;

$cell-size-mobile: 40px;
$cell-size-tablet: 55px;
$cell-size-desktop: 70px;

$disc-size-mobile: 32px;
$disc-size-tablet: 44px;
$disc-size-desktop: 56px;