@use '../../styles/abstracts/variables'  as *;
@use '../../styles/abstracts/mixins' as *;

.container {
  position: relative;
  border: 3px solid $color-black;
  width: 450px;
  border-radius: 2rem;
  padding: 2rem 2rem 4rem;
  background-color: $color-white;
  box-shadow: $shadow-bottom;
}

p {
  font-weight: 600;
  font-size: 1rem;
  opacity: .6;
}


.heading {
  text-align: center;
  font-size: 3.3rem;
  text-transform: uppercase;
  font-weight: 800;
}

.objectiveContainer {
  margin: 2rem 0 2rem;
}

.objectiveHeading {
  color: $color-bg;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.rulesHeading {
  color: $color-bg;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.rules {
  @include flex-column;
  gap: 1rem;
  font-size: 1rem;
  padding-left: 1rem;
}

.checkButton {
  position: absolute;
  bottom: -40px;
  left: calc(50% - 3rem);
  width: 80px;
  height: 80px;
  background-color: $color-red;
  @include flex-center;
  border: 4px solid $color-black;
  border-radius: 999rem;
  box-shadow: $shadow-bottom;
}

.checkButton:active {
  scale: 102%;
  box-shadow: $shadow-active;
}