@use '../../styles/abstracts/variables' as *;
@use '../../styles/abstracts/mixins' as *;

.mainMenuContainer {
  @include flex-column;
  @include flex-center;
  gap: 4rem;
  border: 3px solid $color-black;
  padding: 4rem 2rem;
  border-radius: 2rem;
  box-shadow: $shadow-bottom;
}

.buttonsContainer {
  @include flex-column;
  gap: 1.3rem;
}