@use '../../../../styles/abstracts/variables' as *;
@use '../../../../styles/abstracts/mixins' as *;

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 31rem;
}

.logoContainer {
  height: 100%;
  @include flex-center;
}

.logo {
  width: 3rem;
}
