
.col {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.col:hover {
  .markerContainer{
    display: flex;
    justify-content: center;
  }
}

.markerContainer {
  width: calc(100% / 7);
  display: none;
  position: absolute;
  top: -3rem;
  animation: markerBounce 1s ease infinite forwards;
  user-select: none;
}

@keyframes markerBounce {
  0% {
    top: -3rem;
  }
  50% {
    top: -2.7rem;
  }
  100% {
    top: -3rem;
  }
}